---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "v6.0.0"
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-toml
      - id: check-added-large-files

  - repo: https://github.com/adrienverge/yamllint.git
    rev: "v1.37.1"
    hooks:
      - id: yamllint
        args: ["--strict"]

  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: "0.35.0"
    hooks:
      - id: check-github-workflows
      - id: check-taskfile

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.18.2"
    hooks:
      - id: mypy
        args: ["--exclude", "bin", "--ignore-missing-imports"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff-check
        args: ["--fix"]
      - id: ruff-format
